.header
  %h2
    You asked for theme called : "
    = t("#{@expression}")
    \"
  %h3
    Thanks to :
    = @expression
  %h3
    It contain
    = @counter
    words on
    = @originals.count
    which are available
.span3.offset2
  - @originals_filtered.each do |original|
    .click.panel
      .front
        %h3
          = Word.where(:original_id => original.id).first.french
      .back
        %h3
          = t ("#{original.base}")
    %br/